.card {
  display: flex;
  flex-direction: row;
  background-color: #1b1b1b;
  margin: 1rem;
  padding: 1rem;
  border: solid 2px white;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  align-items: center;
  align-self: center;
}
.imgContainer {
  align-self: center;
  text-wrap: wrap;
  width: min-content;
  height: min-content;
}
.itemImage {
  aspect-ratio: 0.75/1;
  text-align: center;
  align-items: center;
  box-shadow: -1px 1px 60px 5px rgba(0, 0, 0, 0.75);
  max-width: none;
  height: auto;
}

.headerContainer {
  display: flex;
  align-items: stretch;
  margin-top: 1rem;
}
.container {
  /* box-shadow: -1px 1px 60px 5px rgba(0, 0, 0, 0.75); */
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #333;
  width: 100%;
  text-align: center;
}
.date {
  color: #fff;
  letter-spacing: 0.5px;
  height: fit-content;
  align-self: center;
  /* box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.75); */
}
.title {
  font-size: 1.3rem;
  text-shadow: 1px 1px 10px #fff;
  font-weight: bold;
  letter-spacing: 1px;
  height: fit-content;
  text-align: center;
  text-wrap: wrap;
  width: min-content;
  margin-top: "1rem";
  flex: 1;
}
.header {
  margin-bottom: 0.15rem;
}
.listSection {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}
.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.itemDisplayContainer {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
@media (max-width: 768px) {
  .itemImage {
    width: 200px;
    height: fit-content;
  }
  .card {
    padding: 0.5rem;
  }
  .headerContainer {
    height: 0;
    margin: 0;
  }
  .title {
    visibility: hidden;
    height: 0;
    margin-top: 0;
  }
  .container {
    font-size: medium;
  }
  .itemDisplayContainer {
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 768px) {
  .DescriptionContainer {
    font-size: 16px;
  }
  .itemImage {
    width: 200px;
  }
  .container {
    font-size: small;
  }
  .itemDisplayContainer {
    max-width: 90%;
    width: 90%;
  }
}
@media (min-width: 1000px) {
  .DescriptionContainer {
    font-size: 20px;
  }
  .itemImage {
    width: 200px;
  }
  .container {
    font-size: medium;
  }
  .itemDisplayContainer {
    max-width: 80%;
    width: 80%;
  }
}

@media (min-width: 1500px) {
  .DescriptionContainer {
    font-size: 22px;
  }
  .itemImage {
    width: 225px;
  }
  .container {
    font-size: large;
  }
  .itemDisplayContainer {
    max-width: 60%;
    width: fit-content;
  }
}

@media (min-width: 2000px) {
  .DescriptionContainer {
    font-size: 24px;
  }
  .itemImage {
    width: 250px;
  }
  .container {
    font-size: larger;
  }
  .itemDisplayContainer {
    max-width: 60%;
    width: fit-content;
  }
}

@keyframes my-animation {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
