.contentContainer {
  background-color: #222;
  box-shadow: -1px 1px 30px 5px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  color: white;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  margin-bottom: 1rem;
}
.titleText {
  font-weight: 80;
  height: 100%;
  white-space: nowrap;
  width: max-content;
}
.contributorText {
  font-weight: 80;
  width: max-content;
  height: 100%;
  white-space: nowrap;
  width: max-content;
}
.centeredContent h1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.scrollingText {
  transform: translate3d(100%, 0, 0);
  animation-name: my-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
@media (min-width: 1500px) {
  .titleText {
    font-size: 25px;
    white-space: nowrap;
    width: max-content;
  }
  .contributorText {
    font-size: 20px;
    white-space: nowrap;
    width: max-content;
  }
}

@media (min-width: 2000px) {
  .titleText {
    font-size: 30px;
    padding: 0.5rem;
    white-space: nowrap;
    width: max-content;
  }
  .contributorText {
    font-size: 25px;
    padding: 0.5rem;
    white-space: nowrap;
    width: max-content;
  }
}

@keyframes my-animation {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
