.CollectionSwapButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  margin-bottom: 3rem;
  flex-grow: 1;
}
.collectionButtonGroup {
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1rem;
  border-radius: 10px;
  background-color: #222;
  gap: 1rem;
}
.collectionButtontitle {
  color: white;
  /* margin-bottom: 1.5rem; */
  font-size: 2rem;
  font-weight: 100;
  text-shadow: 0px 0px 5px white;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (min-width: 768px) {
  .CollectionSwapButtons {
    font-size: 1rem;
    margin-bottom: 2rem;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .collectionButtontitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .CollectionSwapButtons {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  .collectionButtontitle {
    font-size: 1.75rem;
  }
}
@media (max-width: 768px) {
  .CollectionSwapButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 65%;
    justify-content: start;
    padding-left: 1rem;
    flex-grow: 1;
  }
  .collectionButtonGroup {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    gap: 1rem;
  }
  .collectionButtontitle {
    font-size: 1.25rem;
    font-weight: 100;
    text-shadow: 0px 0px 5px white;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
