@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(rgba(2, 2, 2, 0.2), rgba(0, 0, 0, 0.2)),
  url("DarkWebsiteBackground.jpg");
background-size: cover;
background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

